@using Orchard.ContentManagement
@model Cascade.Booking.ViewModels.BookingDetailsViewModel
@{
    Script.Require("jQuery");
    //Script.Include("/Orchard.Layouts/Scripts/Elements/Image.js");
}

<p>Displays when the designer drops a new booking element in a layout.</p>
